<div class="container mt-4">
  <h2>Employee List</h2>
  <div class="mb-3">
    <label for="sortBy">Sort by:</label>
    <select id="sortBy" (change)="onSortChange($event, 'sortBy')">
      <option value="empid">ID</option>
      <option value="name">Name</option>
      <option value="dept">Department</option>
      
    </select>
    <br><br>
    <label for="order">Order:</label>
    <select id="order" (change)="onSortChange($event, 'order')">
      <option value="asc">Ascending</option>
      <option value="desc">Descending</option>
    </select>
  </div>
  <div class="row">
    <div *ngFor="let employee of employees" class="col-md-4 mb-3">
      <div class="card">
        <img src="image.jpeg" width="200" height="150" class="card-img-top" alt="Employee Image">
        <div class="card-body">
          <h5 class="card-title">{{ employee.name }}</h5>
          <p class="card-text">
            <strong>ID: </strong> {{ employee.empid }}<br>
            <strong>Department: </strong> {{ employee.dept }}<br>
            <strong>Email: </strong>{{employee.email}}<br>
            <strong>DOB: </strong>{{employee.dob}}<br>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
